@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  background-color: black;
}

html {
  /* font-size: 10px; */
  font-family: "Roboto Cn", sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #eee;
}




/* -------------navbar------------ */


header {
  width: 100%;
  height: auto;
  /* background: linear-gradient(to bottom, rgba(0,0,0,.8), rgba(0,0,0,.5)), url("https://images.unsplash.com/photo-1523374228107-6e44bd2b524e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80") center no-repeat; */
  background-size: cover;
  background-position: center;
  font-family: 'Bebas Neue', sans-serif;
  /* font-family: palmsprings; */
  overflow: hidden;
}

li.menu-list {
  font-size: 20px;
}



.menu-toggle {
  position: fixed;
  width: 100%;
  height: 60px;
  /* justify-content: space-between; */
  align-items: center;
  min-height: 60px;
  color: yellow;
  font-size: 2rem;
  z-index: 1001;
  display: none;
  background-color: rgb(0, 0, 0, 0.8);
}

.menu-toggle .container {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  max-width: calc(100% - 30px);
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

.menu-toggle .container .phonelogo img {
  margin-top: .7rem;
  width: 120px;
}

.phonelogounactive {
  display: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.8);
  text-transform: uppercase;
  /* font-size: 1.6rem; */
}

.logo.menu-logo {
  font-weight: 300;
  transform: translateX(-100rem);
  animation: slideIn .5s forwards;
}

.logo {
  width: 150px;
  border-radius: 20px 0 20px 0;
}

.brand span {
  color: yellow;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
  transform: translateX(100rem);
  animation: slideIn .5s forwards;
}

nav ul li:nth-child(1) {
  animation-delay: 0s;
}

nav ul li:nth-child(2) {
  animation-delay: .5s;
}

nav ul li:nth-child(3) {
  animation-delay: 1s;
}

nav ul li:nth-child(4) {
  animation-delay: 1.5s;
}

nav ul li:nth-child(5) {
  animation-delay: 2s;
}

nav ul li a {
  padding: .5rem 0;
  margin: 0 3rem;
  position: relative;
  letter-spacing: 2px;
}

nav ul li a:last-child {
  margin-right: 0;
}

nav ul li a::before,
nav ul li a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: yellow;
  left: 0;
  transform: scaleX(0);
  transition: all .5s;
}

nav ul li a::before {
  top: 0;
  transform-origin: left;
}

nav ul li a::after {
  bottom: 0;
  transform-origin: right;
}

.overlay {
  background-color: rgba(0, 0, 0, .95);
  position: absolute;
  width: 100%;
  height: 100vh;
  right: 0;
  left: 0;
  transition: opacity 650ms;
  transform: scale(0);
  opacity: 0;
  display: none;
}

nav ul li a:hover::before,
nav ul li a:hover::after {
  transform: scaleX(1);
}



/* -------------navbar end --------------- */


.filtering {
  width: 100%;
  height: auto;
  position: relative;
  font-family: "Poppins", sans-serif;
  padding: 40px 0 20px 0;
  background-color: black;
}

::selection {
  color: #fff;
  background: #664AFF;
}

.filtering .container {
  max-width: 70%;
  margin: 0 auto;
}

.filtering .container .searchInput {
  background: #fff;
  width: 100%;
  border-radius: 5px;
  position: relative;
  box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.12);
}

.searchInput input {
  height: 55px;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0 60px 0 20px;
  font-size: 18px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

.searchInput.active input {
  border-radius: 5px 5px 0 0;
}

.searchInput .resultBox {
  padding: 0;
  opacity: 0;
  pointer-events: none;
  max-height: 280px;
  overflow-y: auto;
}

.searchInput.active .resultBox {
  padding: 10px 8px;
  opacity: 1;
  position: absolut;
  pointer-events: auto;
}

.resultBox li {
  list-style: none;
  padding: 8px 12px;
  display: none;
  width: 100%;
  cursor: default;
  border-radius: 3px;
}

.searchInput.active .resultBox li {
  display: block;
}

.resultBox li:hover {
  background: #efefef;
}

.searchInput .icon {
  position: absolute;
  right: 0px;
  top: 0px;
  height: 55px;
  width: 55px;
  /* padding: 0 15px 0 5px; */
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 55px;
  font-size: 20px;
  color: black;
  cursor: pointer;
}

.searchInput .icon svg {
  width: 25px;
}

.pre-define-suggestion {
  color: white;
  padding-top: 1.5rem;
  width: 100%;
  height: 100%;
  gap: 10px;
  box-sizing: border-box;
}

.pre-define-suggestion>div {
  width: fit-content;
  height: auto;
  max-width: 100%;
  overflow-x: scroll;
  display: flex;
  padding: .5rem;
}

.pre-define-suggestion>div::-webkit-scrollbar {
  display: none;
}

.pre-define-suggestion p {
  padding: .5rem 1rem;
  margin: 0 .25rem;
  font-weight: 300;
  text-wrap: nowrap;
  background-color: white;
  color: black;
  border-radius: 20px;
  transition: box-shadow .3s ease;
  transition: transform .3s ease;
}

.pre-define-suggestion p:hover {
  transform: scale(1.05);
  box-shadow: 2px 2px 10px white, inset -2px -2px 10px white;
}



/* -------------------design-list section-------------------- */

  #design-list{
    width: 100%;
    height: auto;
  }

  #design-list .container{
    max-width: 100%;
    width: 100%;
    height: auto;
    margin: 0 auto;
  }


  #design-list .container .design-cards{
    width: 100%;
    height: auto;
    padding: .5rem;
    align-items: start;
	display: grid;
	grid-gap: 16px;
	grid-template-columns: repeat(auto-fit, 150px);
	justify-content: center;
  }

  #design-list .container .design-cards .design-card{
    border-radius: 5px;
    background-color: white;
    text-align: center;
    box-shadow: 3px 3px 10px white,inset -3px -3px 10px white;
    transition: transform .4s ease;
  }

  #design-list .container .design-cards .design-card:hover{
    transform: translateY(-5px);
  }


  #design-list .container .design-cards .design-card img{
    width: 80%;
    margin: 0 auto;
  }

/* ------------------------design-list end---------------------- */





@media (width < 1030px) {}


@media (width < 1100px) {
  .filtering .container {
    max-width: 60%;
  }
}


@media (width < 950px) {
  .filtering .container {
    max-width: 70%;
  }
}



@media screen and (max-width: 700px) {


  .menu-toggle {
    display: block;
  }

  /* .menu-logo{
    display: none;
} */

  nav {
    padding-top: 0;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
  }

  nav ul {
    flex-direction: column;
  }

  nav ul li {
    margin-top: 3rem;
  }

  nav ul li a {
    margin: 0;
    font-size: 1.5rem;
  }

  /* .brand {
    font-size: 5rem;
} */

  .overlay.menu-open,
  nav.menu-open {
    display: flex;
    position: fixed;
    background: black;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 100vh;
    z-index: 999;
    transform: scale(1);
    opacity: 1;
  }

  .filtering {
    padding-top: 80px;
  }

  .filtering .container {
    max-width: 90%;
  }

  .searchInput input {
    font-size: 1rem;
    height: 50px;
  }

  .searchInput .icon {
    height: 50px;
    line-height: 50px;
  }

  .searchInput .icon svg {
    width: 20px;
  }

}


/* ------------media query------------- */

@media (width< 500px) {}

@media (width< 450px) {}

@media (width< 400px) {}


@media (width< 380px) {}




/* keyframe------------------ */


@keyframes slideIn {
  from {}

  to {
    transform: translateX(0);
  }
}